doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        title 404 Error - SB Admin
        link(href="/stylesheets/style.css" rel="stylesheet")
        script(src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous")
    body
        //- #layoutError
        //-     #layoutError_content
        //-         main
        //-             .container
        //-                 .row.justify-content-center
        //-                     .col-lg-6
        //-                         .text-center.mt-4
        //-                             h1.display-1 401
        //-                             p.lead Unauthorized
        //-                             p Access to this resource is denied.
        //-                             a(href="index.html")
        //-                                 i.fas.fa-arrow-left.me-1
        //-                                 | Return to Dashboard
        //- script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        script.
            alert('토큰이 만료되었습니다.');
            location.href = '/login';
