doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul 
        li 
          a(href="/employee/list") 직원관리
    block content
    block footer
