extends ../include/head

block content
  .container.mt-5.d-flex dsdf
    button.btn.btn-primary.payment_button 결제  
    //- for list in result
    //- .card.pointer.m-2.pointer(style='width: 18rem;',onclick="javascript:location.href='/product/"+list.code+"'")
    //-   img.card-img-top(src=list.file_path, alt='...')
    //-   .card-body
    //-     p.card-text
    //-       div.text-end=list.name
    //-       div.text-end=list.total_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      
  script(src="https://cdn.portone.io/v2/browser-sdk.js") 
  script(src="/javascripts/user/product/detail.js")
  
    