block content
  //- h1= httpStatus
  //- h2= error.status
  //- pre #{error.stack}
  //- script(src="/javascripts/common/common.js") 
  script.
    const httpStatus = !{JSON.stringify(httpStatus)};
    //- alert(httpStatus);
    if(httpStatus == 401){
      alert('로그인이 필요합니다.')
      location.href = '/login'
      //- return false;
    }
    if(httpStatus == 403){
      alert('토큰이 만료되었습니다.')
      location.href = '/login'
      //- return false;
    }
    

    