footer#footer.py-5.border-top.mt-3
  .container-lg
    .row
      .col-lg-2.pb-3
        .footer-menu
          h5.widget-title.pb-2 Info
          ul.menu-list.list-unstyled
            li.pb-2
              a(href="#") Track Your Order
            li.pb-2
              a(href="index.html") Our Blog
            li.pb-2
              a(href="#") Privacy policy
            li.pb-2
              a(href="#") Shipping
            li.pb-2
              a(href="#") Contact Us
            li.pb-2
              a(href="#") Help
            li.pb-2
              a(href="#") Community

      .col-lg-2.pb-3
        .footer-menu
          h5.widget-title.pb-2 About
          ul.menu-list.list-unstyled
            li.pb-2
              a(href="#") History
            li.pb-2
              a(href="#") Our Team
            li.pb-2
              a(href="#") Services
            li.pb-2
              a(href="#") Company
            li.pb-2
              a(href="#") Manufacture
            li.pb-2
              a(href="#") Wholesale
            li.pb-2
              a(href="#") Retail

      .col-lg-2.pb-3
        .footer-menu
          h5.widget-title.pb-2 Women Shoes
          ul.menu-list.list-unstyled
            li.pb-2
              a(href="#") Track Your Order
            li.pb-2
              a(href="index.html") Our Blog
            li.pb-2
              a(href="#") Privacy policy
            li.pb-2
              a(href="#") Shipping
            li.pb-2
              a(href="#") Contact Us
            li.pb-2
              a(href="#") Help
            li.pb-2
              a(href="#") Community

      .col-lg-2.pb-3
        .footer-menu
          h5.widget-title.pb-2 Popular
          ul.menu-list.list-unstyled
            li.pb-2
              a(href="#") Prices Drop
            li.pb-2
              a(href="#") New Products
            li.pb-2
              a(href="#") Best Sales
            li.pb-2
              a(href="index.html") Stores
            li.pb-2
              a(href="#" data-bs-toggle="modal" data-bs-target="#modallogin") Login
            li.pb-2
              a(href="#" data-bs-toggle="modal" data-bs-target="#modallong") Cart

      .col-lg-2.pb-3
        .footer-menu
          h5.widget-title.pb-2 Mens Collection
          ul.menu-list.list-unstyled
            li.pb-2
              a(href="#") Delivery
            li.pb-2
              a(href="index.html") About Us
            li.pb-2
              a(href="#") Shoes
            li.pb-2
              a(href="#") Contact Us

      .col-lg-2.pb-3
        .footer-menu
          h5.widget-title.pb-3 Get In Touch
          .footer-contact-text
            span Stylish Online Store 123 Main Street, Toulouse - France.
            span Call us: (+33) 800 456 789-987
            span.text-hover.fw-bold.light-border
              a(href="mailto:contact@yourwebsite.com") contact@yourwebsite.com

    .row
      .col-md-6
        p © Copyright Stylish 2023.
      .col-md-6.text-lg-end
        p Free HTML by 
          a(href="https://templatesjungle.com/" target="_blank") TemplatesJungle
          br
          Distributed by 
          a(href="https://themewagon.com" target="blank") ThemeWagon
script(src="/javascripts/user/jquery-1.11.0.min.js")
script(src="/javascripts/user/plugins.js")
script(src="/javascripts/user/script.js")
